<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAl51Dpy3plmk7BQ3USD8ySJ_BG7DpwqFM</string>
	<key>GCM_SENDER_ID</key>
	<string>592824834971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.contaazul.fluttertest</string>
	<key>PROJECT_ID</key>
	<string>conta-azul-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>conta-azul-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592824834971:ios:bdaf9208c58efce26b5f3e</string>
</dict>
</plist>